<!DOCTYPE html>
<html lang="en">
<head>
<title>Plugin Test</title>
</head>
<body>

{{ plugin(route="/plugin/foo-bar/test-get", method='get') | safe }}

{% set my_vegetables = '["carrot", "potato", "tomato", "beet"]' %}
{% set my_bag = '{
    "fruits": ["apple", "orange", "banana"],
    "vegetables": ' ~ my_vegetables ~ '
}' %}

<pre>
Data from plugin function: {{ plugin(route="/plugin/foo-bar/test-json", method='post', data=my_bag) | safe }}
</pre>

<div>
Payment Gateway
{% set my_order = '{
    "orderId": "123",
    "amount": "100.00",
    "clientName": "John Doe",
    "clientEmail": "john.doe@example.com",
    "expiryDays": "3"
}' %}
<style>
.if-thenpay-mb-gateway {
    border: 1px solid #9e9e9e;
    border-collapse: collapse;
    font-family: monospace;
    text-transform: uppercase;
}
.if-thenpay-mb-gateway svg {
    width: 60px;
    height: auto;
    padding: 10px;
}

.if-thenpay-mb-gateway td {
    padding: 5px;
}
.if-thenpay-mb-gateway td:last-child {
    text-align: center;
    font-weight: bold;
}
</style>
{{ plugin(route="/plugin/ifthenpay/multibanco", method='post', data=my_order) | safe }}
</div>

</body>
</html>